* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.flex_container {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("../Images/michael-browning-D0ov97Td-xM-unsplash.jpg") no-repeat center
      center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

div.flex_container h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin: 2rem;
}

div.flex_container h2 {
  font-size: 2rem;
  margin: 0.5rem;
}

@media screen and (min-width: 768px) {
  div.flex_container {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("../Images/michael-browning-D0ov97Td-xM-unsplash.jpg") no-repeat center
        center/cover;
  }

  div.flex_container h1 {
    font-weight: bold;
    font-size: 4.3rem;
    margin: 2rem;
  }
  div.flex_container h2 {
    font-size: 3rem;
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
}

li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: 4.5rem;
}














/* general styling */
html, body {
  height: 100%;
  margin: 0;
}

/*body {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ffd54f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}
*/
.container {
  color: #333;
  margin: 0 auto;
  padding: 0.5rem;
  text-align: center;
}